[Unit]
Description=1Password
After=graphical-session.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
ExecStart=/usr/bin/1password --silent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
